body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
|--------------------------------------------------
|	Login
|--------------------------------------------------
*/
.loginConatiner {
  position: relative;
}
.loginConatiner > .card {
  width: 296px;
  position: fixed;
  top: 50%;
  left: 50%;
  border: none;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
}
.modalTitle,
.noTaskTitle,
.loginTitle {
  font-size: 20px;
  letter-spacing: 0px;
  color: #537178;
  margin-bottom: 1em;
}
.loginID,
.loginName {
  background: #eef1f8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 1em;
  outline: none !important;
}
.loginName,
.loginID,
.input::-webkit-input-placeholder {
  padding-left: 1em;
  font-size: 14px;
  letter-spacing: 0px;
  color: #7a7d7e;
  opacity: 1;
}

.loginSubmit {
  width: 100%;
  background: #5285ec 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  border: none;
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
}
.loginSubmit:hover {
  color: #fff;
}

/**
|--------------------------------------------------
| Modal
|--------------------------------------------------
*/
.noTaskContainer > .card {
  width: 304px;
  height: 158px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  text-align: center;
}
.newTaskModalbtn {
  background: #5285ec 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  line-height: 24px;
  margin-top: 1em;
}
.newTaskModalbtn:hover {
  color: #fff;
}

/**
|--------------------------------------------------
| Dashboard Contianer
|--------------------------------------------------
*/
.dashBoardCardContainer {
  margin-top: 2em;
}
.dashBoardCardContainer .card {
  height: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000a;
  border-radius: 12px;
  opacity: 1;
  border: none;
}
.dashboardCardTitle {
  font-size: 20px;
  letter-spacing: 0px;
  color: #537178;
  padding: 1em;
}
.tasksCompletedNo {
  font-size: 48px;
  letter-spacing: 0px;
  color: #5285ec;
  margin-left: 16px;
}
.latestTaskListContainer {
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #8f9ea2;
  opacity: 1;
}

.tableContainer {
  height: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000a;
  border-radius: 12px;
  opacity: 1;
  border: none;
}

.taskTitle {
  margin-top: 11px;
  font-size: 20px;
  letter-spacing: 0px;
  color: #537178;
  opacity: 1;
}
